* {
    user-select: none;
}

#reset {
    background-color: rgb(204, 127, 127);
    display: block;
    color: rgb(239, 190, 200);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(239, 190, 200);
    border-width: 2px;
    height: fit-content;
    width: fit-content;
}



#currency-container {
    background-color: black;
    display: block;
    justify-content: space-between;
    border-radius: 5px;
    width: 10%;
    height: 95vh;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

#screen {
    width: calc(70% - 10px);
    margin-left: 10px;
}

#x-per-sec {
    position: absolute;
    align-self: center;
    margin: 0 5px;
}

#sss {
    color: aliceblue;
}

#moneyper {
    color: aliceblue;
}

#upgrade-buttons {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    justify-self: center;
}

#progress {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#lower-screen {
    width: 100%;
    height: fit-content;
    
}

#multiplier {
    position: absolute;
    font-size: 50px;
    color: aliceblue;
    right: 10px;
}

.currencyCo {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    width: calc(100% - 10px);
    height: fit-content;
}

.moneyWord {
    color: green;
}

#printer-outline {
    width: 30%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    height: 25px;
    display: flex;
}

#printer-progress-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    display: block;
    transition: width .0001s;
}

.button {
    background-color: cadetblue;
    color: aliceblue;
    border-style: solid;
    border-radius: 5px;
    border-color: aliceblue;
    border-width: 2px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    margin-top: 0px;
}

.cost {
    background-color: burlywood;
    color: aliceblue;
    border-style: solid;
    border-radius: 5px;
    border-color: aliceblue;
    border-width: 2px;
}

.currency-amount {
    color: aliceblue;
}

.button:hover {
    cursor: pointer;
}

#moneyperclickcost {
    position: absolute;
    display: none;
    margin-top: 10px;
}

#perclickupgrade:hover #moneyperclickcost {
    display: block;
}

body {
    background-color: rgb(47, 44, 65);
    justify-content: baseline;
    display: flex;

}
